general1/geth/nodes/
general1/constellation/data/
general2/geth/nodes/
general1/geth/lightchaindata/
general2/geth/lightchaindata/
general1/geth/chaindata/
general2/geth/chaindata/
general1/geth/transactions.rlp
general2/geth/transactions.rlp
validator*/geth/nodes/
validator*/geth/chaindata/
validator*/geth/lightchaindata/
bootnode1/geth/nodes/
bootnode1/geth/lightchaindata/
bootnode1/geth/chaindata/
bootnode2/geth/nodes/
bootnode2/geth/lightchaindata/
bootnode2/geth/chaindata/
bootnode3/geth/nodes/
bootnode3/geth/lightchaindata/
bootnode3/geth/chaindata/

tls*
nohup.out
logs/
wrk/
workspace/
eth-netstats/
constellation.conf
transactions.rpl
alastria-node/
